{% extends 'base.html' %}

{% block content %}
    <div class="post_details">
        <div class="post_info">
            <h1>{{task.title}}</h1>
            <div class="post_detail_meta">
                <p>Author: {{task.author}} | <a href="update"> Edit Post</a> | <a href="delete">Remove</a>
                    | <a href="{% url 'tasks' %}">Go Back</a>
                </p>
            </div>
        </div>

        <div class="post_detail_content">
            {{task.description}}
        </div>
        <br> <br>
        <p><small><em>Created at: {{task.created_at}} | Last edit: {{task.updated_at}}</em></small></p>
    </div>
{% endblock content %}