{% extends 'base.html' %}

{% block content %}
    <h1>My To Do List</h1>

    <form action="" method="get">
        <input type="text" name="search-area" value="{{search_input}}">
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Item</th>
        </tr>
        {% for task in tasks %}
            {% if task.complete %}
                <tr>
                    <td>
                        <div class="post_entry">
                            <small><em>Posted at {{task.created_at}}</em> | <a style="color: black;" href="task/{{task.pk}}/update">Edit Post</a></small> <br>
                            <em><s><h1 class="post_title"><a href="{% url 'task-detail' task.pk %}">{{task.title}}</a></h1></s></em>
                            <br>
                            <small><a style="color: grey;" href="delete">Remove</a></small>
                            {% comment %} <small><a style="color: grey;" href="delete">&#215;</a></small> {% endcomment %}
                            <small><a style="color: purple;" href="{% url 'task-detail' task.pk %}">View</a></small>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        <div class="post_entry">
                            <small><em>Posted at {{task.created_at}}</em> | <a style="color: black;" href="task/{{task.pk}}/update">Edit Post</a></small> <br>
                            {% comment %} <span style="width: 50px; height: 50px; color: grey; border-radius: 50%;"></span> {% endcomment %}
                            <h1 class="post_title"> <a href="{% url 'task-detail' task.pk %}">{{task.title}}</a></h1>
                            <br>
                            <small><a style="color: grey;" href="delete">Remove</a></small>
                            {% comment %} <small><a style="color: grey;" href="delete">&#215;</a></small> {% endcomment %}
                            <small><a style="color: purple;" href="{% url 'task-detail' task.pk %}">View</a></small>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% empty %}
            <div class="post_entry" style='text-align: center;'>
                <h1 class="post_title" style='font-size: 55px; color: grey;'>There are no tasks yet</h1>
                <p>click the 'Add New Post' button above to make a post</p>
            </div> 
        {% endfor %}
    </table>
{% endblock content %}